<section>
  <aside>
    <h2 class="sub-title">Equipe</h2>
 
   
    <a (click)="getRepo('EliudeLima')" >Eliude</a>
   
  </aside>

  <main>
    <div class="card" class="card p-2 mt-2 ml-2 mr-2 center">
      <div class="card-body">
        <h6 class="card-title text-center"><h2 class="sub-title">{{this.topName || 'Selecione um usuário no canto esquerdo'}}</h2></h6>
      </div>

      <!-- diretiva de atributo ngFor -->
      <ul >

        <li class="list-group-item">
         
                
          <b>URL :</b> <a href="{{data.clone_url}}" target="blank">{{data.clone_url}}</a><br>
        </li>

      </ul>
    </div>

    
  </main>
  
</section>